.textarea,
.input {
  background-color: #282f2f;
  border-color: #dbdee0;
  border-radius: 0.4em;
  color: #fff;
}

.input::placeholder,.textarea::placeholder {
    color: rgba(255, 255, 255, .3);
  }
